.project-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, max-height 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  padding: 20px;
  min-height: 100px;
  position: relative;
}
.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Expanded card on hover */
.project-card.expanded {
  max-height: 700px;
}
h3 {
  text-align: center;
}

/* Hide extra details initially */
.expanded-details {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

/* Show extra details when expanded */
.expanded-details.visible {
  opacity: 1;
  max-height: 600px;
  max-width: 400px;
}

/* Project Button Styling */
.project-button {
  background-color: #ff6600; /* Bright orange */
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #cc5200; /* Darker orange */
}
