@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth font + scroll behavior */
html {
  scroll-behavior: smooth;
  font-family: "Inter", system-ui, sans-serif;
}

/* You can also add minor global resets here if needed */
body {
  background-color: #FDFFFC;
  margin: 0;
  padding: 0;
}
/* index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
